body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

/* Dimensions of the animated pages */
core-animated-pages {
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  overflow: hidden;
}

/* CSS for the animated pages */
core-animated-pages > * {
  border-radius: 5px;
  font-size: 50px;
  background-color: white;
}

body /deep/ core-toolbar {
  background-color: #03a9f4; /* toolbar background color */
  color: #fff; /* toolbar font/icon color*/
}

/* Menu font color */
core-menu {
  color: #01579b;
  margin: 0;
}

core-menu > paper-item {
  transition: all 300ms ease-in-out;
}

/* highlight when menu item is selected */
core-menu > paper-item.core-selected {
  background: #e1f5fe;
}

@media all and (max-width: 480px) {
  core-animated-pages {
    width: 100%;
    height: 100%;
  }
}


/* define behaviour of fade animation*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  to {
    opacity: 0;
  }
}
/* add these classes to fade something in/out. */
.fade-in {
  -webkit-animation: fadeIn 0.4s ease-in 1;
}
.fade-out {
  -webkit-animation: fadeOut 0.3s ease-out 1;
}